* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.bg-yellow{
    background-color: rgb(255, 136, 0);
}

.padding-50 {
    padding: 50px;
}

.largeur-70{
    width: 70%;
}

.largeur-30{
    width: 30%;
}

.marginBottom-30{
    margin-bottom: 30px;
}

.bg-red{
    background-color: rgb(229, 34, 34);
}

.largeur-40{
    width: 40%;
}

.InlineBlock{
    display: inline-block;
}

.padding-50{
    padding: 50px;
}

.bg-blue{
    background-color: #1398a0;
 }
.bg-green{
    background-color: #61ff7b;
}

.bg-white{
    background-color: white;
}
 .largeur-50{
    width: 50%;
 }

 .text-black{
    color: black;

 }

 .text-white{
    color: white;
 }

 .bold{
    font-weight: bold;

 }

 .radius-5{
    border-radius: 5px;
}

 .border-solid{
    border: 2px solid black;

 }

 .border-dashed{
    border : 2px dashed black

 }

 .deco{
    text-decoration: none;
 }

 .radius-300{
    border-radius: 300px;
 }

 .radius-bizzare{
    border-radius: 50px 0 300px 0;
 }

 .bottom{
    margin-bottom: 35px;
 }

 .padding-btn{
    padding: 10px 20px;
 }

 .flex {
    flex: content;
 }

.direction {
    flex-direction: row-reverse;
}
.btn {
    background-color: rgb(128, 126, 126);
    border-radius: 5px;
    padding: 5px 15px;
    display: inline-block;
}

.btn-primary {
    font-size: 25px;
}

.btn-secondary {
    font-size: 16px;
}

/* classes fonctionnelles flex box */
/*rend flexible un parent ( tel que div, section etc..) et aligne ses enfants */
.flex {
    display: flex;
    flex-wrap: wrap;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

/* Classes de dimensions */
.w-100 {
    width: 100%;
}

.w-48 {
    width: 48%;
}

.w-50 {
    width: 50%;
}

.w-33 {
    width: 33%;
}

.w-25 {
    width: 25%;
}

/*HEADER*/
.logo {
    width: 100px;
}

header ul {
    list-style: none;

}

header {
    padding: 20px 64px;
    /*background-color: grey;*/
}

.txt {
    text-decoration: none;
}

.black-txt {
    color: black;
}

/*SECTION HERO*/
.section-hero {
    background-image: url(asset/Placeholder-img-rect-big..png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.section-hero div {
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    font-size: 45px;

}

.section-hero div p {
    margin-bottom: 50px;
}

.card {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.264);
    border-radius: 20px;
    padding: 20px;
}

.card h3 {
    margin-bottom: 20px;
}

.container {
    max-width: 1000px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.container-1200 {
    max-width: 1200px;
    width: 100%;

    margin: auto;
}

.margin-top-100 {
    margin-top: 100px;
}

h2 {
   margin-bottom: 20px;
}

.bgred {
    background-color: red;
}

.margin-special {
    margin-left: 88px;
    display: inline-block;
}

.inlineblock {
    display: inline-block;
}

.backimg{
    background-image:url(asset/assets-interno/Banner.jpg);
    background-repeat: no-repeat;
    border-radius: 15px;
}